#tuto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    margin-bottom: 200px;
}

.passos {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.botao-tutorial {
    width: auto;
    height: 20px;
    padding: 5px 10px; /* Espaçamento interno para um tamanho confortável */
    background-color: #444; /* Cor de fundo neutra */
    color: #fff; /* Texto branco */
    border: 1px solid #fff; /* Borda branca */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 10px; /* Tamanho do texto */
    font-weight: bold; /* Texto destacado */
    text-transform: uppercase; /* Texto em maiúsculas */
    cursor: pointer; /* Cursor de clique */
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeitos de transição */
}

.botao-tutorial:hover {
    background-color: #555; /* Cor mais clara ao passar o mouse */
    transform: scale(1.05); /* Efeito de leve crescimento */
}

#passo1 {
    left: 140px;
    top: 22px;
}

#passo2 {
    top: 22px;
    left: 230px;
}

#passo3 {
    top: 22px;
    left: 330px;
}

#passo4 {
    right: 425px;
    top: 130px;
}

#passo4 img {
    position: relative;
    top: 50px;
    left: 5px;
}

#passo5 {
    top: 350px;
}

#passo5 img {
    transform: rotate(180deg);
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .nota-quadrado {
        position: relative;
        right: 20px;
    }
    .linha-quadrados {
        position: relative;
        bottom: 50px;
        left: 32px;
    }
    #passo4 {
        right: 250px;
        top: 100px;
    }
    #passo4 img {
        position: relative;
        left: -162px;
        top: 80px;
        height: 50px;
    }
    #passo5 {
        position: relative;
        top: 80px;
        right: 180px;
    }
    #passo5 img {
        transform: rotate(180deg);
        position: relative;
        top: 260px;
        left: 10px;
        height: 40px;
    }
}
