#entrada {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.botao-entrada {
  width: auto;
  height: 50px;
  padding: 10px 20px; /* Espaçamento interno para um tamanho confortável */
  background-color: #444; /* Cor de fundo neutra */
  color: #fff; /* Texto branco */
  border: 1px solid #fff; /* Borda branca */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 14px; /* Tamanho do texto */
  font-weight: bold; /* Texto destacado */
  text-transform: uppercase; /* Texto em maiúsculas */
  cursor: pointer; /* Cursor de clique */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Efeitos de transição */
}

.botao-entrada:hover {
  background-color: #555; /* Cor mais clara ao passar o mouse */
  transform: scale(1.05); /* Efeito de leve crescimento */
}